@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap');

*, body, html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-size: 18px;
}
header {
    background-image: url(./images/desktop/image-header.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
}
nav {
    display: flex;
    padding: 1%;
    justify-content: space-between;
}
.logo {
    width: 100%;
    padding-top: 15px;
}
.ul-navbar {
    display: flex;
}
.li-navbar {
    padding-left: 30px;
    padding: 15px;
}
.ul-navbar>li {
    list-style-type: none;
}
.ul-navbar>li>a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
.li-navbar-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    padding: 13px;
    background: hsl(0, 0%, 100%);
}
.li-navbar-contact:hover {
    background-color: hsl(210, 4%, 67%);
}
.li-navbar-contact>.a-contact {
    color: black;
}
H1 {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 70px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}
.arrow {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
article {
    display: flex;
}
.content-artikel1 {
    display: flex;
    height: 35.1rem;
}
.h3-artikel {
    font-size: 40px;
    font-family: 'Fraunces' , serif;
    font-weight: 7h00;
}
.p-artikel {
    font-family: 'Barlow', sans-serif;
    color: hsl(210, 4%, 67%);
}
.text-artikel1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.artikel1 {
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    justify-content: center;
    align-items: center;
}
.text-artikel1 {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.learn0 {
    text-transform: uppercase;
    background-color: hsl(0, 0%, 100%);
    border: 0px;
    text-decoration: none;
    color: hsl(0,0%, 0%);
}
.learn0:hover {
    color: hsl(51, 100%, 49%);
    border-bottom: 3px solid hsl(51, 100%, 49%);
}
.img-artikel1 {
    width: 50%;
}
.telor {
    width: 100%;
}
.content-artikel2 {
    display: flex;
    height: 35.1rem;
}
.text-artikel2 {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.artikel2 {
    width: 50%;
    justify-content: center;
    align-items: center;
}
.img-artikel2 {
    width: 50%;
}
.gelas {
    width: 100%;
}
.learn1 {
    text-transform: uppercase;
    border: 0px;
    text-decoration: none;
    color: hsl(0,0%, 0%);
}
.learn1:hover {
    color: hsl(7, 99%, 70%);
    border-bottom: 3px solid hsl(7, 99%, 70%);
    border-radius: 5px;
}
.container-image {
    display: flex;
}
.img-apel {
    background-image: url(/images/desktop/image-graphic-design.jpg);
    height: 80vb;
    width: 50%;
    display: flex;
}
.img-jeruk {
    background-image: url(/images/desktop/image-photography.jpg);
    height: 80vb;
    width: 50%;
    display: flex;
}
.graphic {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.text-graphic {
    width: 50%;
    padding-bottom: 3rem;
}
.h3-graphic-text {
    text-align: center;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 30px;
    color: hsl(167, 40%, 24%);
}
.p-graphic-text {
    color: hsl(167, 40%, 24%);
    font-family: 'Barlow', sans-serif;
    text-align: center;
}
.photography {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.text-photography {
    width: 50%;
    padding-bottom: 3rem;
}
.h3-photography-text {
    text-align: center;
    font-family: 'Fraunces' serif;
    font-weight: 900;
    color :hsl(198, 62%, 26%);
    font-size: 30px;
}
.p-text-photography {
    color: hsl(198, 62%, 26%);
    font-family: 'Barlow', sans-serif;
    text-align: center;
}
.container-testinomi {
    background-color: white;
    height: 100vb;
    width: 100%;
}
.h3-testinomi {
    font-family: 'Barlow', sans-serif;
    color: hsl(210, 4%, 67%);
    font-size: 2rem;
    text-align: center;
    padding: 4rem;
}
.p-testi {
    color: hsl(213, 9%, 39%);
    font-family: 'Barlow', serif;
}
.client {
    font-family: 'Fraunces', serif;
    font-weight: 600;
    font-size: 1.5rem;
}
.p-jabatan{
    font-family: 'Barlow', sans-serif;
    color : hsl(213, 9%, 39%);
}
.grid-images {
    border-radius: 50%;
}
.grid {
    display: grid;
    justify-content: center;
    gap: 1rem;
    row-gap: 3rem;
    text-align: center;
}
.top-left {
    grid-column: 1/2;
}
.top-center {
    grid-column: 2/3;
}
.top-right {
    grid-column: 3/4;
}
.center-left {
    grid-column: 1/2;
    width: 20rem;
}
.center-center{
    grid-column: 2/3;
    width: 20rem;
}
.center-right {
    grid-column: 3/4;  
    width: 20rem;  
}
.bottom-left {
    grid-column: 1/2;
}
.bottom-center {
    grid-column: 2/3;
}
.bottom-right {
    grid-column: 3/4;
}
.gallery {
    display: flex;
}
.img-gallery {
    width: 21.1rem;
}
footer {
    height: 20rem;
    width: 100%;
    background-color: hsl(168, 34%, 41%);
}
.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    filter: invert(37%) sepia(17%) saturate(1356%) hue-rotate(116deg) brightness(94%) contrast(88%);
    -webkit-filter: invert(37%) sepia(17%) saturate(1356%) hue-rotate(116deg) brightness(94%) contrast(88%);
}
.ul-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-footer>.li-footer>a {
    color: hsl(167, 40%, 24%);
    text-decoration: none;
}
.li-footer {
    padding: 2rem;
}
.ul-footer>.li-footer>a:hover {
    color: hsl(0, 0%, 100%);
}
.sosmed-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fab {
    padding: 1rem;
    color: hsl(167, 40%, 24%);
}
.fab:hover {
    color: hsl(0, 0%, 100%);
}